{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blogs/blog_card.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="blog_card">
    <a href="{% url 'blog:blog_details' blog.slug %}">
        <div>
            <img class="fixed-size" src="{{ blog.banner.url }}" alt="">
        </div>
        <div>
            {% if not hide_category and blog.category %}<span>{{ blog.category.title }}</span>{% endif %}
            <h4>{{ blog.title }}</h4>
        </div>
    </a>
</div>
{% endblock content %}
