{% extends 'base.html' %}
{% load static %}
{% block title %} Registrate {% endblock title %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/user_profile/registration.css' %}">
    {% endblock extra_css %}
{% block content %}
<section class="register-section">
    <div>
        <h2>Crea tu cuenta</h2>

        <form id="register-form" action="" method="POST" novalidate>
            {% csrf_token %}

            <div>
                <input name="username" {% if form.is_bound %} value="{{ form.username.value }}" {% endif %} type="text" placeholder="Tu nombre de usuario">
                <p class="error">{{ form.username.errors }}</p>
            </div>

            <div>
                <input name="email" {% if form.is_bound %} value="{{ form.email.value }}" {% endif %} type="email" placeholder="Tu email">
                <p class="error">{{ form.email.errors }}</p>
            </div>

            <div>
                <input name="password" type="password" placeholder="Tu contraseña">
                <p class="error">{{ form.password.errors }}</p>
            </div>

            <div>
                <input name="confirm_password" type="password" placeholder="Repite tu contraseña">
                <p class="error">{{ form.confirm_password.errors }}</p>
            </div>

            <div>
                <button type="submit" >Registrarse</button>
                <a href="{% url 'user_profile:login' %}">Iniciar sesión</a>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
