{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<section class="hero-introduccion">
    <div>
        <nav>
            <ul>
                <li><a href="{% url 'blog:home' %}">Home</a></li>
                <li><a href="{% url 'blog:blogs' %}">{{ site_settings.nav_blogs|default:"Eportfolios" }}</a></li>
                <li><a href="/events/">{{ site_settings.nav_events|default:"Tips" }}</a></li>
                <li><a href="{% url 'gallery:gallery_list' %}">{{ site_settings.nav_gallery|default:"Galería" }}</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_profile:profile' %}">Perfil</a></li>
                <li><a href="{% url 'user_profile:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'user_profile:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
