{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock extra_css %}

{% if page_obj.has_other_pages %}
<ul class="page-numbers">
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">
                <i class="fa fa-angle-double-left"></i>
            </a>
        </li>
    {% endif %}

    {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="active">
                <a href="?page={{ num }}">{{ num }}</a>
            </li>
        {% else %}
            <li>
                <a href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">
                <i class="fa fa-angle-double-right"></i>
            </a>
        </li>
    {% endif %}
</ul>
{% endif %}