{% extends 'base.html' %}
{% load static %}
{% block title %} {{ event.title }} {% endblock title %}
{% block extra_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;1,400&family=Jost:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/events/event_details.css' %}">
{% endblock extra_css %}
{% block content %}
<!-- Títol fora de la targeta -->
<div class="event_details_title">
    {{ event.title }}
</div>

<section class="event_details"> 
    <article>
        <div>
            {% if event.image %}
            <img src="{{ event.image.url }}" alt="">
            {% endif %}
        </div>
        <div>
            <span>{{ event.category.title }}</span>
            <p>{{ event.description|safe }}</p>

   


        </div>
    </article>
</section>
{% endblock content %}